
body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  /*Safari */
  position: -webkit-sticky;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(a:focus) {
  background-color: #111;
}

a:focus {
  background-color: #4CAF50;
}